<div class="jumbotron">
  <h1 class="display-3">Jumbotron</h1>
  <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <p><a class="btn btn-primary btn-lg" href="#">Learn more</a></p>
</div>

<button type="button" class="btn btn-primary" routerLink="/login">Login</button>
<button type="button" class="btn btn-secondary" routerLink="/register">Register</button>
<button type="button" class="btn btn-success" routerLink="/">Home <span class="sr-only">(current)</span></button>
<button type="button" class="btn btn-info">Info</button>
<button type="button" class="btn btn-warning">Warning</button>
<button type="button" class="btn btn-danger">Danger</button>
