<form #userForm="ngForm" (ngSubmit)="onRegisterSubmit()">
  <fieldset>
    <legend>Form to do stuff</legend>
    <div class="form-group">
      <label for="name">Name</label>
      <input required [(ngModel)]="name" name="name" id="name" type="text" class="form-control" placeholder="Enter name">
      <small class="form-text text-muted">State your name please.</small>
    </div>
    <div class="form-group">
      <label for="username">Username</label>
      <input required [(ngModel)]="username" name="username" id="username" type="text" class="form-control" placeholder="Enter username">
      <small class="form-text text-muted">State your username please.</small><br>
    </div>
    <div class="form-group">
      <label for="email">Email address</label>
      <input required email [(ngModel)]="email" name="email" id="email" type="email" class="form-control" placeholder="Enter email">
      <small class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input required [(ngModel)]="password" name="password" id="password" type="password" class="form-control" placeholder="Password">
      <small class="form-text text-muted">He protec...</small>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input required [(ngModel)]="agb" name="agb" type="checkbox" class="form-check-input">
        Trade your soul...
      </label>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!userForm.form.valid">Submit</button>
  </fieldset>
</form>
